
header {
  text-align: center;
  font-size: 56px;
}

.before {background-color: green;
  width: 33%;
  float: left;
}

.during {
  width: 33%;
  float: left;
  background-color: green;}

.after {
  width: 33%;
  float: left;
  background-color: green;

}

footer {background-color: green;
  border: 2px solid lightblue;
  text-align: center;
  margin-top: 600px;
   clear: both;
}
