
header {
  text-align: center;
  font-size: 56px;
}

.before {
  width: 300px;
  float: left;
}


.after {
  width: 300px;
  float: right;
}

footer {
  border: 2px solid lightblue;
  text-align: center;
  margin-top: 600px;
   clear: both;
}
